body {
    font-family: Arial;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: #1d72b8;
    color: white;
    border: none;
    border-radius: 5px;
}